<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/public/admin/logo.png">

    <title>Bootstrap 云新闻界面</title>

    <!-- Bootstrap core CSS -->
    <link href="/public/admin/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
	<link href="/public/admin/css/offcanvas.css" rel="stylesheet">
	<link rel="stylesheet" href="/public/qiniu_js/main.css">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="/public/admin/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="/public/admin/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/public/admin/js/html5shiv.min.js"></script>
      <script src="/public/admin/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Fixed navbar -->
    <?php include(APP_PATH."view/admin/include/header.html"); ?>

    <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
  
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Toggle nav</button>
          </p>
  
          <h3>添加新闻信息</h3>
          <input type="hidden" id="domain" value="http://7u2r8g.com1.z0.glb.clouddn.com/">
          <input type="hidden" id="uptoken_url" value="/admin.php/uptoken">
		  <form class="form-horizontal col-sm-10" role="form" action="/admin.php/newsInsert" method="post">
			  <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">新闻标题</label>
				<div class="col-sm-10">
				  <input type="text" name="title" class="form-control" id="inputEmail3" placeholder="text">
				</div>
			  </div>
			  <div class="form-group">
				<label for="inputEmail3" class="col-sm-2 control-label">新闻类别</label>
				<div class="col-sm-10">
				  <select name="cid">
				  	<?php 
				  		foreach($cglist as $vo){
				  			echo "<option value='{$vo['id']}'>{$vo['name']}</option>";
				  		}
				  	?>
				  </select>
				</div>
			  </div>
			  <div class="form-group">
			  	  <label for="inputEmail3" class="col-sm-2 control-label">新闻图片</label>
				  <div class="col-md-10">
			            <div  class="col-md-5 " id="container">
			                <a class="btn mini btn-default btn-lg " id="pickfiles" href="#" >
			                    <i class="glyphicon glyphicon-plus"></i>
			                    <sapn>选择文件</sapn>
			                </a>
			            </div>
			            <div  class="col-md-5" id="mypic"></div>
			      </div>
		     </div>
			  <div class="form-group">
				<label for="inputPassword3" class="col-sm-2 control-label">新闻内容</label>
				<div class="col-sm-10">
					<textarea cols="50" rows="10" name="content"></textarea>
				</div>
			  </div>
			  
			  <div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				  <input type="submit" class="btn btn-default" value="添加" />
				</div>
			  </div>
		  </form>
  			 <div class="text-center"> <?php echo $error; ?></div>
        </div><!--/.col-xs-12.col-sm-9-->

         <?php include(APP_PATH."view/admin/include/sidebar.html"); ?><!--/.sidebar-offcanvas-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2015</p>
      </footer>

    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/public/admin/js/jquery.min.js"></script>
    <script src="/public/admin/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/public/admin/js/ie10-viewport-bug-workaround.js"></script>
	
	<script type="text/javascript" src="/public/qiniu_js/plupload/plupload.full.min.js"></script>
	<script type="text/javascript" src="/public/qiniu_js/plupload/i18n/zh_CN.js"></script>
	<script type="text/javascript" src="/public/qiniu_js/ui.js"></script>
	<script type="text/javascript" src="/public/qiniu_js/qiniu.js"></script>
	<script type="text/javascript" src="/public/qiniu_js/highlight/highlight.js"></script>
	<script type="text/javascript" src="/public/qiniu_js/main.js"></script>
	
	<script type="text/javascript">
		$(document).ready(function () {
		  $('[data-toggle="offcanvas"]').click(function () {
			$('.row-offcanvas').toggleClass('active')
		  });
		});
	</script>
  </body>
</html>
